@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --title-font: "Reem Kufi Ink";
  --desc-font: "poppins";
  --primary-color:#7B7643;
  --nav-color: #d1d1d1;
}

*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

.sub {
  font-family: var(--desc-font);
  font-weight: 600;
  color: var(--primary-color);
  size: 18px;
  margin-bottom: -3px;
}

.title {
  font-weight: 700;
  font-size: 3.5rem;
}

.desc {
  font-family: var(--desc-font);
  font-weight: 400;
  font-size: 1rem;
  color: #848484;
}

.tanggal {
  font-family: var(--desc-font);
  font-weight: 600;
  font-size: 16px;
}

.btn-normal {
  padding: 12px 32px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 12px;
}

.btn-normal:hover {
  background-color: #8a844b;
  color: white;
}

.btn-outline {
  padding: 10px 24px;
  background: none;
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: white;
}

header.section-1 {
  height: 720px;
}
header.section-1 .halaman-1 {
  background: linear-gradient(180deg, rgba(124, 124, 124, 0) 69.81%, #fffcd9 100%), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/contact/salvador.jpg);
  width: 100%;
  height: 710px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
header.section-1 .halaman-1 .navbar-bg {
  position: fixed;
  z-index: 99;
  background: #d8dde0;
  background: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 1s;
}
header.section-1 .halaman-1 .navbar-bg a.navbar-brand {
  color: var(--nav-color);
}
header.section-1 .halaman-1 .navbar-bg a {
  color: var(--nav-color);
  position: relative;
}
header.section-1 .halaman-1 .navbar-bg .active {
  color: white;
}
header.section-1 .halaman-1 .navbar-bg a.active::after {
  content: "";
  position: absolute;
  bottom: 8%;
  right: 15%;
  width: 70%;
  height: 2px;
  background-color: white;
}
header.section-1 .halaman-1 .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  color: white;
  text-align: center;
  flex-wrap: wrap;
  text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}
header.section-1 .halaman-1 .hero-text h1 {
  font-family: var(--desc-font);
  font-weight: bold;
  font-size: 64px;
}
header.section-1 .halaman-1 .hero-text p {
  font-family: var(--desc-font);
}
header.section-1 .navbar-bg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 9.9%, rgba(0, 0, 0, 0) 100%);
  height: 10%;
  width: 100%;
}
header.section-1 nav {
  width: 100%;
  height: 120px;
}
header.section-1 nav .navbar-brand {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  font-family: var(--title-font);
}
header.section-1 nav .menu {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: var(--desc-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #BBBDC3;
}
header.section-1 nav .nav-item {
  margin-left: 3rem;
}

body {
  background-color: #fffcd9;
}

main.about {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background: linear-gradient(180deg, #fffcd9, #f4eda3);
}
main.about .container .title h1 {
  text-align: center;
  margin-top: 5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
}
main.about .container .konten {
  margin-top: 200px;
}
main.about .container .konten p {
  font-family: var(--desc-font);
  font-size: 30px;
  font-weight: 550;
  font-stretch: expanded;
}
main.about .container .konten .teks {
  margin-bottom: 180px;
}
main.about .container .konten .p-1 {
  text-align: center;
}
main.about .container .konten .p-2 {
  text-align: left;
  float: left;
}
main.about .container .konten .p-3 {
  text-align: right;
  float: right;
}
main.about .container .konten .p-4 {
  text-align: left;
  float: left;
}

footer.section-4 {
  width: 100%;
  height: 90px;
  background: #232631;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.section-4 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  /* aturan CSS untuk ukuran layar maksimal 768 piksel */
  .section-2 {
    flex-direction: column;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #2e2e2e;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a26735;
}

::-webkit-scrollbar-track {
  background-color: #2e2e2e;
  border-radius: 10px;
}/*# sourceMappingURL=about.css.map */