@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --title-font: "Reem Kufi Ink";
  --desc-font: "poppins";

  --primary-color:#7B7643;
  --nav-color: #d1d1d1;
}

*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// body{
//     background-color: #dedede;
// }

p{
    margin: 0;
}

// PARENT KOMPONEN

// subjudul
.sub{
    font-family: var(--desc-font);
    font-weight: 600;
    color: var(--primary-color);
    size: 18px;
    margin-bottom: -3px;
}

// TITTLE
.title{
    font-weight: 700;
    font-size: 3.5rem;
}

// desripsi
.desc{
    font-family: var(--desc-font);
    font-weight: 400;
    font-size: 1rem;
    
    color: #848484;
}

//tanggal
.tanggal{
    font-family: var(--desc-font);
    font-weight: 600;
    font-size: 16px;
}

//btn normal
.btn-normal{
    padding: 12px 32px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 12px;
}
.btn-normal:hover{
    background-color: #8a844b;
    color: white;
}

//button outline
.btn-outline{
    padding: 10px 24px;
    background: none;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    transition: 0.3s ease;
    text-decoration: none;
    cursor: pointer;
}
.btn-outline:hover {
    background-color: var(--primary-color);
    color: white;
}  

header.section-1{
    height: 720px;
    .halaman-1{
        // background: linear-gradient(180deg, rgba(124, 124, 124, 0) 69.81%, #FFFFFF 100%), linear-gradient(
        //     rgba(0, 0, 0, 0.6),
        //     rgba(0, 0, 0, 0.6)
        // ), url(https://cdn.wallpapersafari.com/96/10/Z7xfU4.jpg);
        
        width: 100%;
        height: 710px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        animation-name: fadeIn;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;

        .navbar-bg{
            // position: fixed;
            z-index: 99;
            background:#d8dde0;
            background: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: top 1s;

            a.navbar-brand{
                color: var(--nav-color);
            }

            a{
                color: var(--nav-color);
                position: relative;
            }

            .active{
                color: white;
            }

            a.active::after{
                content: "";
                position: absolute;
                bottom: 8%;
                right: 15%;
                width: 70%;
                height: 2px;
                background-color: white;
            }
        }


        .hero-text{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 90% ;
            color: white;
            text-align: center;
            flex-wrap: wrap;
            text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);

            h1{
                font-family: var(--desc-font);
                font-weight: bold;
                font-size: 64px;
            }

            p{
                font-family: var(--desc-font);
            }
        }

        .tengah-container{
            width: 100%;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            position: relative;
            bottom: 20%;

            .header{
                width: 21%;
                min-height: 80px;
                height: 50px;
                background-color: var(--primary-color);
                text-align: center;
                border-radius: 25px 25px 0 0;
                padding: 12px 0 10px 0;
                color: #FFFFFF;
                box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);
            }

            .wrap{
                width: 80%;
                height: 125px;
                background-color: white;
                margin-top: -6%;
                border-radius: 20px;
                display: flex;
                justify-content:space-evenly;
                align-items: center;
                border: 1px solid #DEDEDE;
                box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);

                .orang{
                    width: 150px;
                    font-family: var(--desc-font);
                    font-size: 18px;
                    font-weight: 500;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    transition: 0.5;

                    h5{
                        margin: 0;
                    }

                    a{
                        color: var(--primary-color);
                        text-decoration: none;
                    }
                }

                .gelap:hover{
                    h5{
                        color: #969052;
                    }
                }

                .aktip{       
                        a{
                        color: #FFFFFF;
                        background-color: var(--primary-color);
                        padding: 8px 24px;
                        border-radius: 12px;
                        }
                }

            }
        }
    }
    .navbar-bg{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 9.9%, rgba(0, 0, 0, 0) 100%);
        height: 10%;
        // background: fixed;
        width: 100%;
    }
    nav{
        width: 100%;
        height: 120px;
        .navbar-brand{
            font-style: normal;
            font-weight: 700;
            font-size: 38px;
            font-family: var(--title-font);

        }
        .menu{
            display: flex;
            justify-content: end;
            align-items: center;

            font-family: var(--desc-font);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #BBBDC3;
        }

        .nav-item{
            margin-left: 3rem;
        }
    }
}

main.section-2{
    width: 90%;
    margin: 9rem auto 5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    .image-container{
        max-width: max-content;
        height: 510px;
        display: grid;
        grid-template-columns: 1fr 1.1fr;
        grid-template-rows: 240px 240px;
        gap: 30px;
        filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.3));



        .foto{
            border-radius: 20px;
            overflow: hidden;
        }

        .overlay{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.3s, filter 0.3s ease-in-out;

            p{
                color: #FFFFFF;
                font-family: var(--desc-font);
                font-weight: 700;
                font-size: 2rem;
                text-align: center;

            }
        }

        .foto-1{
            min-width: 220px;
            min-height: 50%;
            grid-row: 1/2;
            grid-column: 1/2;
            img{
                position: relative;
                width: 100%;
                height: auto;
                transition: 0.3s ease-in-out;
            }
        }

        .foto-1:hover{
            .overlay{
                opacity: 1;
            }

            img{
                filter: blur(10px);
                filter: brightness(60%);
            }
        }

        .foto-2{
            min-width: 240px;
            min-height: 50%;
            grid-row: 2/3;
            grid-column: 1/2;
            img{
                position: relative;
                width: 105%;
                height: auto;
                transition: 0.3s ease-in-out;
            }
        }

        .foto-2:hover{
            .overlay{
                opacity: 1;
            }

            img{
                filter: blur(1px);
                filter: brightness(60%);
            }
        }

        .foto-3{
            min-width: 320px;
            grid-column: 2/3;
            grid-row: 1/3;
            
            img{
                position: relative;
                width: 100%;
                height: auto;
                transition: 0.3s ease-in-out;
            }
        }

        .foto:hover{
            .overlay{
                opacity: 1;
            }

            img{
                filter: blur(1px);
                filter: brightness(60%);
            }
        }
    }

    .text-container{
        width: 45%;
        height: 510px;
        display: flex;
        justify-content: center;
        align-items:center;
        
        .wrapper{
            width: 90%;
            h1{
                font-size: 4rem;
                font-weight: 700;
            }
            .a{
                margin-bottom: 40px;
            }
            .bio{
                display: flex;
                width: 50%;
                justify-content: space-between;

                .born{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 2px;

                    p{
                        margin: 0;
                    }
                }
                .died{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 2px;

                    p{
                        margin: 0;
                    }
                }
            }

        }
    }

}

.tahun-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    // width: 50%;
    max-width: max-content;
    height: 70px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin-bottom: 4rem;

    .tahun{
        margin: 0 10px;
    }
}

main.section-3{
    width: 85%;
    margin: auto;
    // display: grid;
    // grid-template-columns: 35% 35% 35%r;
    // grid-template-rows: auto auto;
    // gap: 15px;
    display: flex;
    justify-content:center;
    column-gap: 3.5rem;
    flex-wrap: wrap;

    .hidden{
        display: none;
    }

    .card{
        width: 23rem;
        border: none;
        font-family: var(--desc-font);

        h5{
            font-weight: 600;
            font-size: 1.5rem;
        }

        .card-img-top{
            border-radius: 25px;
            filter: drop-shadow(4px 4px 30px rgba(0, 0, 0, 0.3))
        }

        .card-body{
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 50px;

            p{
                margin-bottom: 10px;
            }
            button{
                background: none;
                border: none;
                color: var(--primary-color);
            }
        }
    }

    // .card-1{
    //     grid-column: 1/3;
    // }
    // .card-2{
    //     grid-column: 3/6;
    // }
    // .card-3{
    //     grid-column: 6/9;
    // }
    // .card-4{
    //     grid-column: 2/5;
    // }
    // .card-5{
    //     grid-column: 5/7;
    // }
    // .card-6{
    //     grid-column: 3/6;
    // }
}

footer.section-4{
    width: 100%;
    height: 90px;
    background: #232631;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    /* aturan CSS untuk ukuran layar maksimal 768 piksel */
    .section-2{
        flex-direction: column;
    }
  }

@keyframes fadeIn {
    0% {
        opacity: 0;
      }
    100% {
        opacity: 1;
      }
}

// SCROLLBAR
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #2e2e2e;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a26735;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #2e2e2e;
    border-radius: 10px;
  }
  

  